@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="row">
        <div class='col-md-12'>
            <div class="form-group">
                <input type='text' class="form-control" id='datetimepicker' />
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            @{Html.RenderPartial("TrackableItemTable");}
        </div>
    </div>
}

<script src="@Url.Content("~/Scripts/trackables-common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/trackables-trackableslog.js")" type="text/javascript"></script>


