@model  Trackables.Models.ProductsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TrackablesLayout.cshtml";
}

<br />

<div class="row">
    <div class="col-md-5">
        @{Html.RenderPartial("ProductTable");}
    </div>
</div>

<br />

<p>@Html.ActionLink("Add a new Product", "Create")</p>

<script src="@Url.Content("~/Scripts/trackables-products.js")" type="text/javascript"></script>
