@model  Trackables.Models.MealsViewModel
@using Trackables.Models

    <table id="mealsTable" class="table table-hover">
        <thead>
        </thead>
        <tbody>
            @foreach (var meal in Model.Meals)
            {
                <tr>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => meal.Name)
                    </td>
                    <td class="col-md-1">
                        <a href="@Url.RouteUrl("EditMeal", new { id = meal.Id })">Edit</a>
                        @Html.ActionLink("Delete", "DeleteMeal", null, new { @class = "DeleteMealLink", @data_mealid = meal.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

