@model  Trackables.Models.FoodItemTableViewModel
@using Trackables.Models


<table id="foodItemTable" class="table table-striped table-hover table-bordered">
    <thead>
    </thead>
    <tbody>
        @foreach (var foodItem in Model.FoodItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => foodItem.Name)
                </td>
                <td>
                    <input class="form-control input-sm" id=@foodItem.Id name=@foodItem.Quantity type='text' value=@foodItem.Quantity>
                </td>
                <td>
                    @Html.ActionLink("Save", "Save", null, new { @class = "SaveLink", @data_id = foodItem.Id })
                    @Html.ActionLink("Delete", "Delete", null, new { @class = "DeleteLink", @data_id = foodItem.Id })
                </td>
            </tr>
        }
    </tbody>
</table>



