@model  Trackables.Models.MealsTableViewModel
@using Trackables.Models


<table id="mealsTable" class="table table-striped table-hover table-bordered">
    <thead>
    </thead>
    <tbody>
        @foreach (var meal in Model.Meals)
        {
            <tr>
                <td>
                    @Html.ActionLink(meal.Name, "UseMeal", null, new { @class = "UseMealLink", @data_id = meal.Id })
                </td>
            </tr>
        }
    </tbody>
</table>